*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100xw;
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
}

header{
    background-color: #670072;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    height: 60px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    
    & ul{
        text-align: center;
        margin: 0 25px;
        display: flex;
        justify-content: center;
        width: 30vw;
        gap: 25px;
        font-size: 15px;
        font-weight: 550;
        & a{color: rgb(255, 255, 255);}   
    }

    & p{
        width: 70vw;
        font-size: 30px;
        font-weight: 700;
    }
}


section{
    background-image: radial-gradient(#b50091, #670072);
    height: 100vw;
    position: absolute;
    display: grid;
    grid-template-rows: 2000px 2000px;

    & .texto{
        margin: 100px 0px;
        width: 100vw;
        height: 0;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr; 
        
        & a{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 550;
            padding: 10px;
            color: #d400ff;
            background-color: #ffffff;
            
        } 
    }

    & .foto{
        position: absolute;
        display: grid;
        grid-template-columns: 200px 200px;
        gap: 10px;
        left: 50%;
        transform: translateX(-50%);
        top: 200px;
        align-items: center;
 
        & img{
                border-radius: 15px;
        }

        & p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: grid;
        }
    }
    
}

footer{
    background-color: rgba(0, 0, 0, 0.349);
    margin: auto;
    position: fixed;
    text-align: center;
    top: 890px;
    left: 50%;
    transform: translateX(-50%);
    & p{
        color: rgba(255, 255, 255, 0.308);
        padding: 5% 0 5% 0;
        width: 250px;
        font-size: 20px;
        font-weight: 100;
    }
}